<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <th:block th:replace="components/head.html :: head"></th:block>

</head>
<body>
<div th:replace="components/header.html :: header"></div>

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Register</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <form class="register-form" th:action="@{/rest/user/submitRegister}" >
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" name="username" type="text" placeholder="Enter your username..."/>
                            <label for="name">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="text" placeholder="Enter your email..."/>
                            <label for="email">Email</label>
                        </div>
                        <div class="row m-5">
                            <div class="form-floating col-md-6">
                                <input class="form-control" id="firstname" name="firstName" type="text" placeholder="Enter your firstname..."/>
                                <label for="firstname">Firstname</label>
                            </div>
                            <div class="form-floating col-md-6">
                                <input class="form-control" id="surname" name="secondName" type="text" placeholder="Enter your surname..."/>
                                <label for="surname">Surname</label>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="form-floating col-md-6 mb-4">
                                <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password..."/>
                                <label for="password">Password</label>
                            </div>
                            <div class="form-floating col-md-6 mb-4">
                                <input class="form-control" type="password" id="password-confirm" name="passwordConfirm" placeholder="Confirm your password..."/>
                                <label for="password-confirm">Confirm Password</label>
                            </div>
                        </div>

                        <div class="d-grid m-3">
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</section>
<!-- Section: Design Block -->

<div th:replace="components/scripts.html :: scripts"></div>

<script src="/js/registerUser.js"></script>
</body>
</html>