<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <th:block th:replace="components/head.html :: head"></th:block>

</head>
<body>
<div th:replace="components/header.html :: header"></div>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <!-- Masthead-->
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">Login</h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
          <form method="post" th:action="@{/loginAction}">
            <!-- Username -->
            <div class="form-floating mb-3">
              <input class="form-control" id="name" name="username" type="text" placeholder="Enter your username..."/>
              <label for="name">Username</label>
            </div>
            <!-- Password input -->
            <div class="form-floating mb-3">
              <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password..."/>
              <label for="password">Password</label>
            </div>


            <!-- Submit button -->
            <div class="d-grid m-3">
              <button class="btn btn-primary btn-xl" id="submitButton" type="submit">
                Sign up
              </button>
            </div>

            <a href="/register" class="m-3 btn btn-primary btn-xl">
              Register now
            </a>


          </form>
        </div>
      </div>
    </div>
  </header>
</section>

<div th:replace="components/scripts.html :: scripts"></div>
</body>
</html>